.Footer{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #6049ea;
}

.Footer_1 > p{
    font-weight: bold;
}

.Footer_2 > p {
    font-weight: bold;
}

.Footer_3 {
    display: flex;
    justify-content: space-around;
}