.Home{
    text-align: center;
}
.Landing{
    text-align: center;
}
body{
    background: rgba(0, 0, 0, 0.918);
    color: aliceblue;
}

.lceimg{
    width: 300px;
    height: auto;
    padding: 1em;
    border-radius: 40em;
}